<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.databaseApp.mapper.CommentMapper">

  <insert id="insertContent">
        insert into comment(id,userID,point,Content)
            values (#{vehicleID},#{userID},#{point},#{content})
  </insert>

  <select id="selectbyID" resultType="com.spring.databaseApp.entity.Comment">
    select * from comment where id = #{vID}
  </select>

  <delete id="deleteComment">
    delete comment where id=#{vID} and userID=#{uID}
  </delete>

  <update id="changeComment">
        update comment set Content=#{content}, point=#{point} where id=#{vID} and userID=#{uID}
  </update>

  <select id="mean" resultType="java.lang.Integer">
    select avg(point) from comment group by id having id=#{vID}
  </select>

  <select id="rank" resultType="java.lang.Integer">
    select id from(select id,avg(point) as P 
    from comment 
    group by id 
    order by P desc) 
  </select>
</mapper>